* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #ebeef8;
  height: 100% !important;
  min-height: 100%;
   font-family: source-code-pro;
}
